<html>
    <head>
        <title>{{ title }} - Twitter Pie</title>
				    <link href="https://fonts.googleapis.com/css?family=Holtwood+One+SC|PT+Sans+Narrow" rel="stylesheet">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
						<!-- <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script> -->
						<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
						<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        {% block head %}
        {% endblock head %} 
 
            
    </head>
    <body>
      {% block content %}{% endblock %}
    </body>

</html>
