{% extends "base.html" %}

{% block content %}
    <h1>Hello, welcome to Twitter Pie!</h1>
    <div class="header">
      <p>Enter a Twitter username below and click on "Generate" to get the<strong> 10
      most frequent words</strong> in the Twitter feed.</p>
    </div>
		<div class="search-area">
			<form action="" method="post">
					{{ form.hidden_tag() }}
					<p>
					<strong> @ </strong> {{ form.twitterhandle(size=32, placeholder="Enter a Twitter Username..") }}
					</p>
					<p>{{ form.submit(class="btn btn-primary",id="button") }}</p>
			</form>
		</div>
		<div>
      <p>** Mostly working for English and French Language</p>
      <p>Feel free to check the <a href="https://github.com/YannickLeRoux/twitterpie">GitHub repository</a> and add your own language, or
    other interesting functionnalities</p>
		</div>
			<div id="footer"><small><em>Yannick Le Roux - Made with Python 3.6, Flask Tweepy and Chart.js</em></small><div>
    
{% endblock %}

