{% extends "base.html" %}
{% block head %}
<meta id="labels_data" data-labels={{labels}}>  
{% endblock head %}
{% block content %}

<h1>Top 10 words used by @{{twitterhandle|safe}} </h1>
  <!-- bar chart canvas element -->
  <canvas id="pie-chart" width="600" height="400"></canvas>

  <script>
    var labelsData = document.getElementById("labels_data");
      console.log(labelsData.dataset.labels);
      console.log(typeof labelsData.dataset.labels)
    new Chart(document.getElementById("pie-chart"), {
     type: 'pie',
      data: {
        labels: {{labels | safe}},
        datasets: [{
          backgroundColor: {{colors|tojson }},
          data: {{values|tojson}}
        }]
      },
      options: {
        title: {
          display: true,
          text: 'Predicted world population (millions) in 2050'
        }
      }
    });
  </script>
{% endblock %}
